name: Build Vex and Examples

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:  # Allows manual triggering from GitHub UI

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations.
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Debug, Release]
        c_compiler: [gcc, clang, cl]
        graphics_api: [vulkan, directx12]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: windows-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
            cpp_library: libc++
        exclude:
          # Remove unsupported compilers from windows/linux
          - os: windows-latest
            c_compiler: gcc
          - os: ubuntu-latest
            c_compiler: cl
          # Remove DirectX-only configurations from Linux (not supported)
          - os: ubuntu-latest
            graphics_api: directx12
          # Reduce the number of different jobs by limiting the directx-only / vulkan only builds to release targets
          - build_type: Debug
            c_compiler: gcc
          - build_type: Debug
            c_compiler: cl

    name: ${{ matrix.os }} ${{ matrix.c_compiler }} ${{ matrix.build_type }} ${{ matrix.graphics_api }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    # GitHub Action's ubuntu image has a GCC which does not support <print> (added in GCC 13).
    # We need the latest version of GCC for both compilation with GCC and Clang since we use libstdc++.
    - name: Install latest GCC
      if: matrix.os == 'ubuntu-latest'
      run: |
        # add universe repo to have acess to GCC 14
        sudo add-apt-repository universe && sudo apt update
        
        # Set the GCC 14 as the default
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 100
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100

        # Verify the version
        gcc --version
        g++ --version

    # GitHub Action's ubuntu image has a clang which does not support <expected> (added in clang 16).
    # Use of libc++ requires clang 19 minimum.
    - name: Install Clang 19
      if: matrix.os == 'ubuntu-latest' && matrix.c_compiler == 'clang'
      run: |
        # Add the LLVM repository for Clang 19
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        
        # Add specific repository for LLVM 19
        UBUNTU_CODENAME=$(lsb_release -cs)
        sudo bash -c "cat > /etc/apt/sources.list.d/llvm-19.list << EOF
        deb http://apt.llvm.org/${UBUNTU_CODENAME}/ llvm-toolchain-${UBUNTU_CODENAME}-19 main
        deb-src http://apt.llvm.org/${UBUNTU_CODENAME}/ llvm-toolchain-${UBUNTU_CODENAME}-19 main
        EOF"
        
        sudo apt-get update
        
        # Install Clang 19 and associated libraries
        sudo apt-get install -y clang-19 libc++-19-dev
        
        # Set Clang 19 as the default
        sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-19 100
        sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-19 100
        sudo update-alternatives --set clang /usr/bin/clang-19
        sudo update-alternatives --set clang++ /usr/bin/clang++-19

        # Verify the version
        clang --version
        clang++ --version

    - name: Install Vulkan SDK (Windows)
      if: matrix.os == 'windows-latest' && (matrix.graphics_api == 'vulkan')
      uses: humbletim/setup-vulkan-sdk@523828e49cd4afabce369c39c7ee6543a2b7a735
      with:
        vulkan-query-version: latest
        vulkan-components: Vulkan-Headers, Vulkan-Loader
        vulkan-use-cache: true

    - name: Install Vulkan SDK and Wayland (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        # Add the LunarG repository
        wget -qO - https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
        sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-jammy.list https://packages.lunarg.com/vulkan/lunarg-vulkan-jammy.list
        sudo apt update
    
        # Install just the essential components needed for building
        sudo apt-get install -y \
          vulkan-headers \
          libvulkan-dev
    
        # Install Wayland dependencies
        sudo apt-get install -y \
          libwayland-dev \
          wayland-protocols \
          libxkbcommon-dev \
          libwayland-client0 \
          libwayland-cursor0 \
          libwayland-egl1 \
          libwayland-server0 \
          libxrandr-dev \
          libxinerama-dev \
          libxcursor-dev \
          libxi-dev \
          libxext-dev \
          libgl1-mesa-dev \
          extra-cmake-modules

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Setup MSVC environment
      if: matrix.os == 'windows-latest' && matrix.c_compiler == 'cl'
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Install Ninja
      if: matrix.os == 'windows-latest'
      run: |
        choco install ninja

    - name: Configure CMake
      if: matrix.cpp_library != 'libc++'
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -G Ninja
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DVEX_BUILD_EXAMPLES=ON
        -DVEX_BUILD_TESTS=ON
        -DVEX_ENABLE_SLANG=ON
        ${{ matrix.graphics_api == 'directx12' && '-DVEX_GRAPHICS_BACKEND=DX12' || '' }}
        ${{ matrix.graphics_api == 'vulkan' && '-DVEX_GRAPHICS_BACKEND=VULKAN' || '' }}
        -S ${{ github.workspace }}

    - name: Configure CMake
      if: matrix.cpp_library == 'libc++'
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -G Ninja
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DVEX_BUILD_EXAMPLES=ON
        -DVEX_BUILD_TESTS=ON
        -DVEX_ENABLE_SLANG=ON
        -DCMAKE_CXX_FLAGS='-stdlib=libc++'
        ${{ matrix.graphics_api == 'directx12' && '-DVEX_GRAPHICS_BACKEND=DX12' || '' }}
        ${{ matrix.graphics_api == 'vulkan' && '-DVEX_GRAPHICS_BACKEND=VULKAN' || '' }}
        -S ${{ github.workspace }}

    - name: Build
      # Build your program with the given configuration. Note that --config is needed because the default Windows generator is a multi-config generator (Visual Studio generator).
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Build Failure Reporting
      if: failure()
      run: |
        if [ -f ${{ steps.strings.outputs.build-output-dir }}/CMakeFiles/CMakeOutput.log ]; then
          echo "CMakeOutput.log:"
          cat ${{ steps.strings.outputs.build-output-dir }}/CMakeFiles/CMakeOutput.log
        fi
        if [ -f ${{ steps.strings.outputs.build-output-dir }}/CMakeFiles/CMakeError.log ]; then
          echo "CMakeError.log:"
          cat ${{ steps.strings.outputs.build-output-dir }}/CMakeFiles/CMakeError.log
        fi
      shell: bash
